/*Tem que ter em todos os arquivos*/
*{
  margin: 0px;
}
body {
  background-color: rgb(206, 186, 97);
}
header{
  height: 30%;
  background-color:rgb(5, 5, 70);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 20px;

  padding: 25px;
}
.imagem-header{
  width: 75px;
  border-radius: 50%;
}

h1{
  color:rgb(206, 186, 97);
  font-family: Arial, Helvetica, sans-serif;

  text-align: center;
}
.corpo{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.principal{
  background-color: white;
  border-radius: 20px;
  margin-top: -5px;
  width: 92%;
}


.menu {
  list-style-type: none;
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  margin-top: 20px;
}

.menu li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  background-color: rgb(5, 5, 70);
  border-radius: 30px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 11px 20px rgb(124 124 120);
}


.menu li a {
  text-decoration: none;
  color: rgb(255, 219, 58);
}

.imagens-bolo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  margin: 10px;
  margin-bottom: 25px;
  margin-top: 25px;
}

@media only screen and (max-width: 600px){
  
}
.bolo{
  width: 20%;
  border-radius: 30px;
  box-shadow: 8px 11px 20px rgb(124 124 120);
}
